################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug/net6.0/SnakeTheGame.csproj.AssemblyReference.cache
/obj/Debug/net6.0/refint
/bin/Debug/net6.0
/obj/project.assets.json
/obj/project.nuget.cache
/obj/SnakeTheGame.csproj.nuget.dgspec.json
/obj/SnakeTheGame.csproj.nuget.g.props
/.vs/SnakeTheGame/v17
/.vs/SnakeTheGame/FileContentIndex
/.vs/SnakeTheGame/DesignTimeBuild/.dtbcache.v2
/.vs/ProjectEvaluation
/obj/project.assets.json
/obj/project.nuget.cache
/obj/SnakeTheGame.csproj.nuget.dgspec.json
/obj/SnakeTheGame.csproj.nuget.g.props
/obj/SnakeTheGame.csproj.nuget.g.props
/obj/project.assets.json
/obj/project.nuget.cache
/obj/SnakeTheGame.csproj.nuget.dgspec.json
/obj/Debug/net6.0/_IsIncrementalBuild
/obj/Debug/net6.0/SnakeTheGame.pdb
/obj/Debug/net6.0/SnakeTheGame.genruntimeconfig.cache
/obj/Debug/net6.0/SnakeTheGame.dll
/obj/Debug/net6.0/SnakeTheGame.csproj.FileListAbsolute.txt
/obj/Debug/net6.0/SnakeTheGame.csproj.CoreCompileInputs.cache
/obj/Debug/net6.0/SnakeTheGame.csproj.BuildWithSkipAnalyzers
/obj/Debug/net6.0/apphost.exe
/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/obj/Debug/net6.0/ref/SnakeTheGame.dll
